@import "../omarchy/current/theme/waybar.css";

* {
  background-color: alpha(@background, 0);
  color: @foreground;
  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 12px;
}

.modules-left {
  margin-left: 6px;
  margin-right: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  background-color: alpha(@background, 1);
}
.modules-center {
  background-color: alpha(@background, 1);
  font-size: 12px;
  padding-right: 12px;
}

.modules-right {
  margin-right: 6px;
  /* background-color: alpha(@background, 1); */
  font-size: 14px;
}

window#waybar {
  margin-top: 20px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}

#workspaces {
  transition: all 1050ms ease-in-out;
}

#workspaces button {
  transition: all 200ms ease-in-out;
  background: @background;
  border: 1px solid @foreground;
  border-radius: 999px;
  padding: 0 0px;
  margin: 0 3px;
}

#workspaces button.active {
  min-width: 50px;
  background: @foreground;
  min-height: 10px;
  border-radius: 999px;
  border: 0px;
}
#workspaces button:not(.active) {
  opacity: 0.7;
}
#workspaces button.focused {
  min-width: 50px;
  background: @foreground;
  border-radius: 100px;
  border: 0px;
}

#workspaces button:hover {
  min-width: 50px;
  background: @foreground;
  border-radius: 100px;
  border: 0px;
}

#workspaces button.urgent {
  background: #ff0000;
  border: 1px solid #ff0000;
}
#workspaces button.empty {
  opacity: 0.25;
  font-size: 8px;
}

/* #workspaces button {
  padding: 2 6px;
  margin: 0 1.5px;
  opacity: 1;
  font-size: 8px;
  min-width: 9px;
}
#workspaces button.active {
  min-width: 18px;
  padding: 2px 12px;
  margin: 0 8px;
}

#workspaces button:not(.active) {
  min-width: 6px;
  opacity: 0.25;
}

#workspaces button.empty {
  opacity: 0.2;
  font-size: 8px;
} */

#custom-weather {
  transition: none;
  background-color: alpha(@background, 1);
}

#temperature {
  transition: none;
  background-color: alpha(@background, 1);
}

#temperature.critical {
  background-color: alpha(@background, 1);
}
#cpu,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-todo {
  background-color: alpha(@background, 1);
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 7.5px;
}
#pulseaudio-slider {
  padding: 0;
  margin: 8px 0;
}

/* knob */
#pulseaudio-slider slider {
  all: unset;

  min-width: 5px;
  min-height: 5px;
  border-radius: 999px;
  background-color: alpha(@foreground, 0.5); /* knob color */
  margin-top: -4px;
  margin-bottom: -4px;
}

/* background bar */
#pulseaudio-slider trough {
  min-height: 6px;
  min-width: 100px;
  border-radius: 999px;
  background-color: alpha(@foreground, 0.15);
}

/* filled part */
#pulseaudio-slider highlight {
  min-height: 8px;
  border-radius: 999px;
  background-color: @foreground; /* filled volume */
}

#cpu {
  font-size: 16px;
}
#power-stats {
  background-color: alpha(@background, 1);
  padding-left: 10px;
  padding-right: 2px;
}
#hardware {
  background-color: alpha(@background, 1);
  padding-left: 2px;
  padding-right: 10px;
  margin-right: 6px;
}
#battery {
  font-size: 12px;
  margin-left: 8px;
}

#tray {
  margin-left: 8px;
  background-color: alpha(@background, 1);
}
#backlight {
  font-size: 14px;
}
#bluetooth {
  margin-left: 18px;
  margin-right: 18px;
  font-size: 15px;
}

#network {
  margin-right: 13px;
  font-size: 14px;
}

#custom-expand-icon {
  padding-left: 10px;
}

tooltip {
  padding: 2px;
  background-color: alpha(@background, 0.8);
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 12px;
  background-color: alpha(@background, 1);
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 18px;
}

#custom-screenrecording-indicator.active {
  color: #ff0000;
}

#custom-cava {
  font-size: 9px;
  margin-right: 10px;
  font-family: "CaskaydiaCove Nerd Font";
}

#custom-spotify {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 12px;
}

#custom-spotify.hidden {
  margin: 0;
  padding: 0;
  min-width: 0;
}

#backlight-slider slider {
  all: unset;
  min-width: 5px;
  min-height: 5px;
  border-radius: 999px;
  background-color: alpha(@foreground, 0.5);
  margin-top: -4px;
  margin-bottom: -4px;
  box-shadow: none; /* specific fix for backlight slider sometimes having a default shadow */
}

/* background bar */
#backlight-slider trough {
  min-height: 6px;
  min-width: 100px;
  border-radius: 999px;
  background-color: alpha(@foreground, 0.15);
}

/* filled part */
#backlight-slider highlight {
  min-height: 8px;
  border-radius: 999px;
  background-color: @foreground;
}
